
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: rgb(245, 240, 250);

}

form {
    margin: auto;
    background-color: rgb(228, 242, 255);
    border-radius: 25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid skyblue;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bold;
    text-align: left;
    color: black

}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: 15cm; 
    border: 2px solid skyblue;
    border-radius: 25px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: green;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: cadetblue;
   
}

#resume-display h2, h3, p{
    color: white;
}
